Django==5.2.2
djangorestframework==3.16.0
channels==4.2.2
asgiref==3.8.1
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2

# Postgres driver
psycopg2-binary==2.9.7

# dj-database-url for parsing DATABASE_URL
dj-database-url==1.1.0

# WSGI / ASGI servers
gunicorn==20.1.0
daphne==4.0.0
uvicorn==0.24.0

# Redis client
redis==4.5.5
